@layer component {
  .root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--blue2);
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: var(--blue3);
    }
  }
}
