:root {
  --blue1: rgb(237, 247, 252);
  --blue2: rgb(167, 213, 241);
  --blue3: rgb(96, 178, 229);
  --blue4: rgb(34, 143, 211);
  --blue5: rgb(23, 95, 140);
  --blue6: rgb(11, 48, 70);
  --lime1: rgb(252, 252, 238);
  --lime2: rgb(239, 240, 168);
  --lime3: rgb(226, 228, 98);
  --lime4: rgb(206, 209, 35);
  --lime5: rgb(138, 140, 24);
  --lime6: rgb(69, 70, 12);
  --brown1: rgb(246, 245, 243);
  --brown2: rgb(211, 203, 197);
  --brown3: rgb(175, 162, 151);
  --brown4: rgb(138, 121, 106);
  --brown5: rgb(92, 81, 71);
  --brown6: rgb(46, 40, 35);
  --grey1: rgb(245, 245, 245);
  --grey2: rgb(204, 204, 204);
  --grey3: rgb(163, 163, 163);
  --grey4: rgb(122, 122, 122);
  --grey5: rgb(82, 82, 82);
  --grey6: rgb(41, 41, 41);
  --purple1: rgb(247, 239, 251);
  --purple2: rgb(213, 173, 235);
  --purple3: rgb(180, 108, 218);
  --purple4: rgb(144, 49, 196);
  --purple5: rgb(96, 33, 131);
  --purple6: rgb(48, 16, 65);
  --white: #fff;
  --black: #000;
}
